<% content_for :title do %>
帐号解锁
<% end %>
<div class='box'>
<%= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
  <%#= f.error_notification %>
  <%#= f.full_error :unlock_token %>
  <%= render 'layouts/shared/error_exception', :object => resource %>
  <%= field_set_tag '帐号解锁' do %>
  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
  </div>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, "解锁" %>
  </div>
<% end %>
</div>
