<% content_for :title do %>
  忘记密码
<% end %>
<div class='box'>
<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
  <%#= f.error_notification %>
  <%= render 'layouts/shared/error_exception', :object => resource %>
  <%= field_set_tag '忘记密码' do %>
  <div class="form-inputs">
	  <%= f.input :email, :required => true, :autofocus => true, :hint => '通过发送一个链接到此邮箱地址，通过链接可进入重置密码页面' %>
  </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, "密码找回" %>
  </div>
<% end %>
</div>
